<div class="list-info">
  <div class="list-name">
    <div class="list-name--info list-info--title">
      <button
        class="list-btn"
        (click)="changeUserData()">
        {{ user.name }}
      </button>
    </div>
    <h4 class="list-name--info list-info--title">
      {{ user.surname }}
    </h4>
  </div>
  <div class="list-contacts">
    <h4 class="list-contacts--info list-info--title">
      {{ user.email }}
    </h4>
    <h4 class="list-contacts--info list-info--title">
      {{ user.phone }}
    </h4>
  </div>
</div>
