@import '../../../../scss/variables';

.table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-height: 90vh;
  background: $white;
  padding: 14px 0 0;
  border-radius: 25px;
  overflow: hidden;
}
