@import '../../../../../scss/variables';

.section-list {
  position: relative;
  width: 100%;
  max-height: calc(100vh - 152px);
  overflow: hidden;
  overflow-y: auto;
}

.list {
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 4px;

  &-header {
    position: sticky;
    top: 0;
    background: $white;
    display: flex;
    align-items: center;
    height: 50px;
    z-index: 1;
  }

  &-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    border-top: 1px solid $disabled-btn;
    transition: background 0.2s linear;

    &:has(.list-btn:hover) {
      background: #dfecfc89;
    }
  }
}

.item-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1210px;
  padding-left: 10px;
  gap: 10px;
}

.touched {
  background: #cee1f7b4;
}

:disabled {
  pointer-events: none;
}

::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background {
  border-radius: 4px !important;
  background-color: #4a95f7 !important;
  border-color: #4a95f7 !important;
}

::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background {
  background-color: #4a95f7 !important;
  border-color: #4a95f7 !important;
}
::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
    [data-indeterminate='true']
  )
  ~ .mdc-checkbox__background {
  border-color: $disabled-icon !important;
}

input {
  background: none !important;
  &:hover {
    background-color: transparent !important;
    &:active {
      background-color: transparent !important;
    }
  }
}
