$white: #fff;

$default-text: #263238;
$title-text: #231f20;
$warn-text: #da1b1b;
$input-text: #1a2124;

$default-btn: #2f67d5;
$hover-btn: #3c7cf8;
$pressed-btn: #194eb6;
$disabled-btn: #d8dee9;
$hover-btn--icon: #e2eeff;
$pressed-btn--icon: #b5d3ff;
$hover-btn--light: #3c7cf81a;
$pressed-btn--light: #194eb633;

$default-icon: #304879;
$disabled-icon: #a8b0bf;